mixin download-card(type='type', link="#", img_url="#", text="Название сервиса", qr_img="#") 
  .col-lg-4.d-flex.flex-column.align-items-center.download-card    
    a.js-getAppBtn.download-card__btn(href=link, target="_blank", data-type=type)
      .download-card__btn-content         
        img.download-card__btn-img(src=img_url, alt="Ссылка на скачивание")
        p.download-card__btn-paragraph.paragraph_md.white=text
    a.download-card__qr-link(href=link) 
      img.download-card__qr-img(src=qr_img, alt="") 